{% extends 'LoginBase.html' %}

{% block content %}
<!-- <h2> ContactUs </h2>
<p>Contact and Emails</p> -->
<script>
  $(document).ready(function() {
    $("#SideNavBar").empty()
    });
</script>
<div class="container">

<h3>Tell us what we can change.</h3>
<br>
<br>
<div class="row">
  <div class="col-sm-4">
    <h5>Siddartha Mishra</h5>
    <p>siddartha.m17@iiits.in</p>
    </div>
    <div class="col-sm-4">
      <h5>Subh Vanvat</h5>
      <p>subh.v17@iiits.in</p>
      </div>
      <div class="col-sm-4">
        <h5>Somana Rupesh</h5>
        <p>venkatasaikrishnarupesh.s17@iiits.in</p>
        </div>
  </div>
<br>
<br>
<br>
<br>
<br>

  <div class="row">
    <div class="col-sm-4">
      <h5> Swathi Sindhu</h5>
      <p>swathi.s17@iiits.in</p>
      </div>
      <div class="col-sm-4">
        <h5> Abhinay Krishna</h5>
        <p>abhinay.k17@iiits.in</p>
        </div>
        <div class="col-sm-4">
          <h5>Sakir Shah</h5>
          <p>sakir.s17@iiits.in</p>
          </div>
    </div>
  </div>
{% endblock %}
