{% extends 'LoginBase.html' %}
{% load staticfiles %}

{% block content %}

<p>Files</p>
<hr>
<div class="row ScrollFile" id="row1">

</div>
<br>
<br>
<br>
<p>Folders</p>
<hr>
<div class="row ScrollDirec" id="row2">
</div>
<div class="dropdown-menu dropdown-menu-sm" id="context-menu" style="display: none; top: 49px; left: 173px;">
  <a class="dropdown-item btn" id="deleteFile" onclick="">Delete</a>
  <a class="dropdown-item btn " id="downloadFile" href="#">Download</a>
  <a class="dropdown-item btn " id="shareFile" href="#">Share Link</a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

<script>

  var level = 1; //keeping track of id
  var num = 0;
  var root_pk;
  root_pk = {{ request.user.rootdirectory.pk }}
  var path=["",];
  var ids=[root_pk,];  // function for getting directory id

  function clickMe(e) {
    id = e.id
    if (level == 1) {
      lvalue = e.value
    }
    return (e.id)

  }

  function clickMe2(e) {
    id = e.id
    if (level == 1) {
      lvalue = e.value
    }
    return (e.id)

  }

  // function for entering into a sud directory
function back_folder(id) {
    ids.pop()
    path.pop()
    present_id = id.split("_")
    level = level - 1
    //console.log(ids)
    //console.log(ids.length)
    //console.log(path.length)
    root_directory = root_pk
    sub_directory = ids[ids.length - 1]
    if (ids.length > 1) {
        //console.log("worked")
        $("#clearRow").empty()
        for (var i = 1; i < path.length; i++) {
            var div = '<p style="float:left"><span>►</span></p><div style="float:left"> <button id="back_' + ids[i] + '" class="btn btn-secondary previous text-right"  onclick=" id = clickMe2(this);console.log(id);back_folder(id);">' + path[i] + '</button></div><br><br>'
            $("#clearRow").append(div);
        }

        var div3 = '<br><br><p>Files</p> <hr><div class="row ScrollFile" id="row1" ></div><br><br><br><p>Folders</p><hr><div class="row ScrollDirec" id="row2"></div>'+
        '<div class="dropdown-menu dropdown-menu-sm" id="context-menu" style="display: none; top: 49px; left: 173px;"><a class="dropdown-item btn" id="deleteFile">Delete</a>'+
          '<a class="dropdown-item btn " id="downloadFile" href="#">Download</a><a class="dropdown-item btn " href="#">Share Link</a></div>'
        $("#clearRow").append(div3)

        $.ajax({
            url: "/mainupload/api/" + root_directory + "/" + sub_directory + "",
            type: 'GET',
            success: function (res) {
                for (i in res.children) {
                    addDirectory(res.children[i].name, res.children[i].pk, $("#row2"));
                }
                for (i in res.files) {
                    addFile(res.files[i].name, res.files[i].pk, $("#row1"))
                }
                $("#deleteFile").click(function() {
                  //console.log("y??")
                    $.ajax({
                        url: "/mainupload/api/"+fileid+'/',
                        type: 'DELETE',
                        success: function (res) {
                            FILE_SELECTED.remove();
                        },
                    });
                });
                $("#downloadFile").click(function () {
                    var button = $("#downloadFile");
                    button.attr("href", "#");
                    if (FILE_SELECTED.attr("protected") == "False") {
                        button.attr("href", "/mainupload/api/"+fileid);
                    }
                    else {
                        $.ajax({
                            url: "/mainupload/api/procfile/",
                            type: 'POST',
                            data: {
                                'pk' : fileid,
                            },
                            success: function(res) {
                                var temp=$(togg);
                                temp.show();
                                temp.click();
                                temp.hide();
                                $("#createbutton").click(function(){
                                    var key = document.getElementById("filepassword1").value;
                                    var decrypted = CryptoJS.AES.decrypt(res, key.toString());
                                    download(FILE_SELECTED.children().last().children().last().html(), decrypted.toString(CryptoJS.enc.Utf8));
                                });
                            }
                        });
                    }
                });
            },
            processData: false,
            contentType: false,

        });
    } else {
        $("#clearRow").empty()
        var div3 = '<br><br><p>Files</p> <hr><div class="row ScrollFile" id="row1" ></div><br><br><br><p>Folders</p><hr><div class="row ScrollDirec" id="row2"></div>'+
        '<div class="dropdown-menu dropdown-menu-sm" id="context-menu" style="display: none; top: 49px; left: 173px;"><a class="dropdown-item btn" id="deleteFile" onclick="">Delete</a>'+
          '<a class="dropdown-item btn " id="downloadFile" >Download</a><a class="dropdown-item btn " href="#">Share Link</a></div>'
        $("#clearRow").append(div3)

        {% for folder in request.user.rootdirectory.children.all %}
        addDirectory('{{folder.name}}', '{{folder.pk}}', $("#row2"));
        {% endfor %}

        {% for file in request.user.rootdirectory.files.all %}
        //
        // pa='{{ file.file.path }}'
        // name=pa.split("\")
        //console.log('{{ file.name }}')
        addFile('{{ file.name }}', '{{file.pk}}', $("#row1"), "{{ file.protected }}");
        {% endfor %}
    }
}


function clearall(id, value) {
    var parent_id = id.split("_")[3];
    level += 1
    num = 0
    if (level == 1) {
        path.push(value)
    } else {
        path.push(value)

    }
    ids.push(parent_id)
    //console.log(ids);
    root_directory = root_pk
    sub_directory = ids[ids.length - 1]

    $("#clearRow").empty()
    // var div = '<div> <button id="back" class="btn btn-secondary  previous round text-right">&#8249;</button></div>'
    //console.log(path)
    for (var i = 1; i < path.length - 1; i++) {
        var div = '<p style="float:left"><span>►</span></p><div style="float:left"> <button id="back_' + ids[i] + '" class="btn btn-secondary previous text-right"  onclick=" id = clickMe2(this);console.log(id);back_folder(id);">' + path[i] + '</button></div>'
        $("#clearRow").append(div);
    }
    var dir = '<p style="float:left"><span>►</span></p><div style="float:left"><p>' + path[path.length - 1] + '</p></div>'
    $("#clearRow").append(dir);
    var subDiv = '<br><br><p>Files</p> <hr><div class="row ScrollFile" id="row1" ></div><br><br><br><p>Folders</p><hr><div class="row ScrollDirec" id="row2"></div>'+
    '<div class="dropdown-menu dropdown-menu-sm" id="context-menu" style="display: none; top: 49px; left: 173px;"><a class="dropdown-item btn" id="deleteFile" >Delete</a>'+
      '<a class="dropdown-item btn " id="downloadFile" >Download</a><a class="dropdown-item btn " href="#">Share Link</a></div>'

    $("#clearRow").append(subDiv)

    $.ajax({
        url: "/mainupload/api/" + root_directory + "/" + sub_directory + "",
        type: 'GET',
        success: function (res) {
            //console.log(res.children[0]);
            for (i in res.children) {
                addDirectory(res.children[i].name, res.children[i].pk, $("#row2"));
            }
            //console.log(res.files);
            for (i in res.files) {
                addFile(res.files[i].name, res.files[i].pk, $("#row1"), res.files[i].protected);
            }
            $("#deleteFile").click(function() {
              //console.log("y??")
                $.ajax({
                    url: "/mainupload/api/"+fileid+'/',
                    type: 'DELETE',
                    success: function (res) {
                        FILE_SELECTED.remove();
                    },
                });
            });
            $("#downloadFile").click(function () {
                var button = $("#downloadFile");
                button.attr("href", "#");
                if (FILE_SELECTED.attr("protected") == "False") {
                    button.attr("href", "/mainupload/api/"+fileid);
                }
                else {
                    $.ajax({
                        url: "/mainupload/api/procfile/",
                        type: 'POST',
                        data: {
                            'pk' : fileid,
                        },
                        success: function(res) {
                            var temp=$(togg);
                            temp.show();
                            temp.click();
                            temp.hide();
                            $("#createbutton").click(function(){
                                var key = document.getElementById("filepassword1").value;
                                var decrypted = CryptoJS.AES.decrypt(res, key.toString());
                                download(FILE_SELECTED.children().last().children().last().html(), decrypted.toString(CryptoJS.enc.Utf8));
                            });
                        }
                    });
                }
            });
        },
        processData: false,
        contentType: false,
        csrfmiddlewaretoken: '{{ csrf_token }}',

    });

}



// Function for adding file

function addFile(name, pk, parent, protected) {
    if (level == 1) {

        parent.append(" <div style='margin-right: 30px; margin-bottom: 30px; width: 8rem;' class='card text-center bg-light border-light' class='col-sm-2'  id=file_" + root_pk + "_" + level + "_" + pk +
            " protected="+protected+"><img class='card-img-top' src= {% static 'img_avatar4.png' %} alt='Card image' style='width:120px;word-wrap: break-word;'> <div class='card-body'>  <p class='card-text'>" +
            name + "</p>  </div> </div>");
    } else {
        parent.append(" <div style='margin-right: 30px; margin-bottom: 30px; width: 8rem;' class='card text-center bg-light border-light' class='col-sm-2' id=file_" + root_pk + "_" + level + "_" + pk +
            " protected="+protected+"> <img class='card-img-top' src= {% static 'img_avatar4.png' %} alt='Card image' style='width:120px;word-wrap: break-word;'> <div class='card-body'>  <p class='card-text'>" +
            name + "</p>  </div> </div>");

    }
}

function download(filename, text) {
      // silimar dom usage as above
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
  }


// function for adding directory

function addDirectory(name, pk, parent) {
    var id
    if (level == 1) {
        var div = "<div  ><p style='padding:10px' > <button id='fol_" + root_pk + "_" + level + "_" + pk + "' class='btn btn-light btn-lg btn2 text-left' value='" + name +
            "' ondblclick=' id = clickMe(this);console.log(id);clearall(id,this.value)'> <i  class='fa fa-folder'></i>  <span>" +
            name +
            "</span></button></p></div>"
        parent.append(div);
    } else {
        var div = "<div ><p style='padding:10px' > <button id='fol_" + root_pk + "_" + level + "_" + pk + "' class='btn btn-light btn-lg btn2 text-left' value='" + name +
            "' ondblclick=' id = clickMe(this);console.log(id);clearall(id,this.value)'> <i  class='fa fa-folder'></i>  <span>" +
            name +
            "</span></button></p></div>"
        parent.append(div);

    }
    num++

}
    function fname(){
        var filename = document.getElementById("inputfile").value; //gives us a fake path
        filename = filename.split("\\");
        length = Object.keys(filename).length;
        filename = filename[length-1];
        return filename
      // full process runned to get the file name with extension
    }

//populating in home page
$(document).ready(function() {

    {% for folder in request.user.rootdirectory.children.all %}
    addDirectory('{{folder.name}}', '{{folder.pk}}', $("#row2"));
    {% endfor %}
    {% for file in request.user.rootdirectory.files.all %}
    addFile('{{ file.name }}', '{{file.pk}}', $("#row1"), "{{ file.protected }}");
    {% endfor %}

    function fname(){
        var filename = document.getElementById("inputfile").value; //gives us a fake path
        filename = filename.split("\\");
        length = Object.keys(filename).length;
        filename = filename[length-1];
        return filename
      // full process runned to get the file name with extension
    }
    //adding file
    function securedFile(filename, key) {
    var inputfile = document.getElementById("inputfile").files[0]; // another way of getting file name
    //console.log("asd");
    var fileReader = new FileReader();    //as the per the name
    fileReader.onload = function(fileLoadedEvent){
        textFromFileLoaded = fileLoadedEvent.target.result;    // performs the task of retreval of text from the file
        //console.log("aqw");
        encrypted = CryptoJS.AES.encrypt(textFromFileLoaded, key); //inbuild encrypt function of cryptojs
        encrypted = encrypted.toString();     //getting object value in string
        var blob = [
          new Blob([encrypted]),
        ];    //this represents file-like object of raw data

        var file = new File(blob,'filename',{
        });       //file pointer

        //adding file
        var data;

        data = new FormData();
        data.append('file', file, document.getElementById("inputfile").files[0].name);
        data.append('parent_is_root', level == 1)

        if (level == 1) {
            data.append('parent_pk', root_pk);
        } else {
            data.append('parent_pk', ids[ids.length - 1]);
        }
        data.append("protected", $("#yes").is(':checked'));
        //console.log("hi");

        $.ajax({
            url: "/mainupload/api/files/",
            type: 'POST',
            data: data,
            success: function (res) {
                //console.log(res)
                $('#filesform').val(false);
                //console.log("asd");
                //console.log(res);
                addFile(res.name, res.pk, $("#row1"), (res.protected)? "True" : "False");
                window.postMessage({ type: "pk", text: res.pk }, "*");
                window.postMessage({ type: "key", text: key }, "*");
            },
            failure: function (res) {
          //      console.log(res);
            },
            cache: false,
            processData: false,
            contentType: false

        });

    };
    
    file=fileReader.readAsText(inputfile, "UTF-8");   // call for reading the file
    }

  

  function notsecuredFile(fname,key){
    var data;

    data = new FormData();
    data.append('file', document.getElementById("inputfile").files[0], document.getElementById("inputfile").files[0].name);
    data.append('parent_is_root', level == 1)

    if (level == 1) {
        data.append('parent_pk', root_pk);
    } else {
        data.append('parent_pk', ids[ids.length - 1]);
    }
    data.append("protected", $("#yes").is(':checked'));

    $.ajax({
        url: "/mainupload/api/files/",
        type: 'POST',
        data: data,
        success: function (res) {
            //console.log(res)
            $('#filesform').val(false);
            addFile(res.name, res.pk, $("#row1"),(res.protected)? "True" : "False");
        },
        failure: function (res) {
            //console.log(res);
        },
        cache: false,
        processData: false,
        contentType: false
    });
  }

  // encrypt data
  $("#new").click(function(){
    if (document.getElementById("yes").checked==true){
      var filename = fname();
      var key = document.getElementById("filepassword").value;    // the key for the file
      securedFile(filename,key);
    }
    else{
      notsecuredFile();
    }
  })

    //Password selection
    $(function () {
        $("input[name='is_protected']").click(function () {
            if ($("#yes").is(":checked")) {
                $("#ShowHide").show();
            } else {
                $("#ShowHide").hide();
            }
        });
    });


    //Download File
    $("#deleteFile").click(function() {
      //console.log("y??")
        $.ajax({
            url: "/mainupload/api/"+fileid+'/',
            type: 'DELETE',
            success: function (res) {
                FILE_SELECTED.remove();
            },
            csrfmiddlewaretoken: '{{ csrf_token }}',
        });
    });

    $("#downloadFile").click(function () {
        var button = $("#downloadFile");
        button.attr("href", "#");
        if (FILE_SELECTED.attr("protected") == "False") {
            button.attr("href", "/mainupload/api/"+fileid);
        }
        else {
            window.postMessage({ type: "get", text: fileid }, "*");
            $.ajax({
                url: "/mainupload/api/procfile/",
                type: 'POST',
                data: {
                    'pk' : fileid,
                },
                success: function(res) {
                    var temp=$(togg);
                    temp.show();
                    temp.click();
                    temp.hide();
                    $("#createbutton").click(function(){
                        var key = document.getElementById("filepassword1").value;
                        var decrypted = CryptoJS.AES.decrypt(res, key.toString());
                        download(FILE_SELECTED.children().last().children().last().html(), decrypted.toString(CryptoJS.enc.Utf8));
                    });
                }
            });
        }
    });

    $('#shareFile').click(function() {
        var uname = prompt("Enter username");
        $.ajax({
            url: "/mainupload/api/share/",
            type: 'POST',
            data: {
                'username' : uname,
                'file_pk' : fileid,
                 csrfmiddlewaretoken: '{{ csrf_token }}',
            },
        });
    });


    //Adding directory
    $("#newDirec").click(function (e) {
        var data;
        //console.log(ids);
        data = new FormData(document.getElementById("directories"));
        data.append('parent_is_root', level == 1);
        if (level == 1) {
            data.append('parent_id', root_pk);
        } else {
            data.append('parent_id', ids[ids.length - 1]);
        }
        // console.log(object)
        $.ajax({
            url: "/mainupload/api/",
            type: 'POST',
            data: data,
            success: function (res) {
                //console.log(res);
                addDirectory(res.name, res.pk, $("#row2"));
            },
            processData: false,
            contentType: false,
        });
    });
  });





//Dropdown for delete and download etc
  $('div').on('click', '.card', function (e) {
      //console.log("worked")
      var top = e.pageY - 120;
      //console.log(this);
      var left = e.pageX - 200;
      FILE_SELECTED = $(this);
      var divId = $(this).attr("id");
      $("#context-menu").css({
          display: "block",
          top: top,
          left: left
      }).addClass("show");
      //console.log(divId);
      fileid = divId.split('_');

      fileid = fileid[fileid.length-1];
      //console.log(fileid);
      });
      $('.row').on("click", function() {
          $("#context-menu").removeClass("show").hide();
      });


      $("#context-menu a").on("click", function() {
        $(this).parent().removeClass("show").hide();
      });


//Recent files

    function addRecent(parent1) {
        parent1.empty()
        var subDiv = '<br><br><p>Recent Files</p> <hr><div class="row ScrollFile" id="row1" ></div><br><br><br>'+
        '<div class="dropdown-menu dropdown-menu-sm" id="context-menu" style="display: none; top: 49px; left: 173px;"><a class="dropdown-item btn" id="deleteFile" >Delete</a>'+
          '<a class="dropdown-item btn " id="downloadFile" >Download</a><a class="dropdown-item btn " href="#">Share File</a></div>'
        parent1.append(subDiv);
      }

      //
      // $("#recent-button").click(function() {
      //   addRecent($("#clearRow2"),$("#clearRow"));
      // });
      $("#recent-button").click(function() {
          addRecent( $("#clearRow"));
      //    console.log(user)
        $.ajax({
          url: "{% url 'DispFile:Recent' %} ",
          success: function(res) {
        for (i=0;i<res.length;i++){
            //console.log(res[i])
            addFile(res[i].name , res[i].pk, $("#row1"), res[i].protected);
        }


        $("#deleteFile").click(function() {
            $.ajax({
                url: "/mainupload/api/"+fileid+'/',
                type: 'DELETE',
                success: function (res) {
                    FILE_SELECTED.remove();
                },
            });
        });
        $("#downloadFile").click(function () {
            var button = $("#downloadFile");
            button.attr("href", "#");
            if (FILE_SELECTED.attr("protected") == "False") {
                button.attr("href", "/mainupload/api/"+fileid);
            }
            else {
                $.ajax({
                    url: "/mainupload/api/procfile/",
                    type: 'POST',
                    data: {
                        'pk' : fileid,
                    },
                    success: function(res) {
                        var temp=$(togg);
                        temp.show();
                        temp.click();
                        temp.hide();
                        $("#createbutton").click(function(){
                            var key = document.getElementById("filepassword1").value;
                            var decrypted = CryptoJS.AES.decrypt(res, key.toString());
                            download(FILE_SELECTED.children().last().children().last().html(), decrypted.toString(CryptoJS.enc.Utf8));
                        });
                    }
                });
            }
        });

          }
          //
          // }
        });
      })



//Shared with me files
      function addSharedWithMe(parent1) {
        parent1.empty()
        var subDiv = '<br><br><p>Shared with me</p> <hr><div class="row ScrollFile" id="row1" ></div><br><br><br>'+
        '<div class="dropdown-menu dropdown-menu-sm" id="context-menu" style="display: none; top: 49px; left: 173px;"><a class="dropdown-item btn" id="deleteFile" >Delete</a>'+
          '<a class="dropdown-item btn " id="downloadFile" >Download</a><a id="copy" class="dropdown-item btn " href="#">Make a copy</a></div>'
        parent1.append(subDiv);
      }

      $("#sharedwithme-button").click(function() {
        addSharedWithMe( $("#clearRow"));
        $.ajax({
          url: "{% url 'DispFile:sharedwithme' %} ",
          success: function(res) {

            for (i=0;i<res.length;i++){
                //console.log(res[i])
                addFile(res[i].name , res[i].pk, $("#row1"), res[i].protected);
            }


            $("#deleteFile").click(function() {
              //console.log("y??")
                $.ajax({
                    url: "/mainupload/api/"+fileid+'/',
                    type: 'DELETE',
                    success: function (res) {
                        FILE_SELECTED.remove();
                    },
                });
            });
            $("#copy").click(function() {
                $.ajax({
                    url: "/mainupload/api/copy/",
                    type: 'POST',
                    data: {pk:fileid},
                    success: function (res) {
                        //console.log(res);
                    }
                });
            });

            $("#downloadFile").click(function () {
                var button = $("#downloadFile");
                button.attr("href", "#");
                if (FILE_SELECTED.attr("protected") == "False") {
                    button.attr("href", "/mainupload/api/"+fileid);
                }
                else {
                    $.ajax({
                        url: "/mainupload/api/procfile/",
                        type: 'POST',
                        data: {
                            'pk' : fileid,
                        },
                        success: function(res) {
                            var temp=$(togg);
                            temp.show();
                            temp.click();
                            temp.hide();
                            $("#createbutton").click(function(){
                                var key = document.getElementById("filepassword1").value;
                                var decrypted = CryptoJS.AES.decrypt(res, key.toString());
                                download(FILE_SELECTED.children().last().children().last().html(), decrypted.toString(CryptoJS.enc.Utf8));
                            });
                        }
                    });
                }
            });
          }
        });
      });


 </script>




<!-- <script type = "text/javascript" >


</script> -->

{% endblock %}
